<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Django Girls blog</title>
</head>
<body>
  <div>
    <h1><a href="#">Django Girls Blog</a></h1>
  </div>
  <div>
    <p>published: 14.02.2020, 12:23</p>
    <h2><a href="#">My First post</a></h2>
    <p>Adipisicing a quasi dolores eum ad a! Ipsum at doloribus quas optio quia Vero itaque illum consequatur repellendus perferendis. Odio cumque nesciunt ab atque eligendi hic mollitia Voluptas vel reprehenderit!</p>
  </div>
  <div>
    <p>published: 14.02.2020, 12:23</p>
    <h2><a href="#">My second post</a></h2>
    <p>Dolor possimus ea vitae maxime omnis. Eius vero nulla magnam atque hic. Quidem laborum commodi tempore hic praesentium quaerat quas</p>
  </div>
</body>
</html>
